[Desktop Entry]
Version=0.2.3
Exec=fluxboxlauncher
Icon=fluxboxlauncher
Terminal=false
Type=Application
Categories=Misc;
Keywords=fluxbox;

Name=FluxboxLauncher
Comment=Manage application startup when FluxBox is launched :
FluxBoxlauncher is a graphical application with drag-and-drop functionality.
Name[fr]=FluxboxLauncher
Comment[fr]=Gérez le démarrage d'applications au lancement de FluxBox:
FluxBoxLauncher est une interface graphique avec des fonctionnalités de glissé/déposé
