[Desktop Entry]
Version=0.1
Exec=fluxboxlauncher
Icon=fluxboxlauncher
Terminal=false
Type=Application
Categories=Misc;
Keywords=fluxbox;

Name=FluxboxLauncher
Comment=Manage starting applications on Fluxbox.
Name[fr]=FluxboxLauncher
Comment[fr]=Gérer les applications au lancement de Fluxbox.
