[Desktop Entry]
Version=0.3.3
Exec=fluxboxlauncher
Icon=fluxboxlauncher
Terminal=false
Type=Application
Categories=Misc;
Keywords=fluxbox;start;init;app;admin;session;
Name=FluxboxLauncher
Comment=Manage application startup when FluxBox for session "mini", "super", "maxi" and "prof" : FluxBoxlauncher is a graphical application with drag-and-drop functionality.

Keywords[fr]=fluxbox;start;lancement;init;app;admin;prof;session;
Name[fr]=FluxboxLauncher
Comment[fr]=Gérez le démarrage d'applications pour les sessions "mini", "super", "maxi" et "prof". FluxBoxLauncher est une interface graphique avec des fonctionnalités de glissé/déposé.
