Source: fluxboxlauncher
Section: education
Priority: extra
Maintainer: Ferry Jérémie <ferryjeremie@free.fr>
Build-Depends: debhelper (>= 10), python3-dev
Standards-Version: 4.0.0

Package: fluxboxlauncher
Architecture: all
Depends: ${python3:Depends}, python3-gi, ${misc:Depends}
Description: Manage application startup when FluxBox is launched :
    FluxBoxlauncher is a graphical application with drag-and-drop functionality.
