[Desktop Entry]
Version=0.3.3
Exec=fluxboxlauncher_maxi
Icon=fluxboxlauncher_maxi
Terminal=false
Type=Application
Categories=Misc;
Keywords=fluxbox;start;init;app;maxi;session;
Name=FluxboxLauncher : Maxi session
Comment=Manage application startup when FluxBox is launched at Maxi session : FluxBoxlauncher is a graphical application with drag-and-drop functionality.

Keywords[fr]=fluxbox;start;lancement;init;app;maxi;session;
Name[fr]=FluxboxLauncher : session Maxi
Comment[fr]=Gérez le démarrage d'applications au lancement de FluxBox session Maxi : FluxBoxLauncher est une interface graphique avec des fonctionnalités de glissé/déposé.
