[Desktop Entry]
Version=0.3.3
Exec=fluxboxlauncher_super
Icon=fluxboxlauncher_super
Terminal=false
Type=Application
Categories=Misc;
Keywords=fluxbox;start;init;app;super;session;
Name=FluxboxLauncher : Super session
Comment=Manage application startup when FluxBox is launched at Super session : FluxBoxlauncher is a graphical application with drag-and-drop functionality.

Keywords[fr]=fluxbox;start;lancement;init;app;super;session;
Name[fr]=FluxboxLauncher : session Super
Comment[fr]=Gérez le démarrage d'applications au lancement de FluxBox session Super : FluxBoxLauncher est une interface graphique avec des fonctionnalités de glissé/déposé.
